@model App.DomainViewModel.CategoryViewModel
@using (Ajax.BeginForm("Save", "Category", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnBegin = "AppCommonWindowBegin",
            OnSuccess = "AppCommonWindowSuccess",
            OnComplete = "AppCommonWindowComplete",
        }, new { @id = "appCommonWindowForm" }))
{
    <div id="addOrEditPage" class="addOrEditPage">
        <div id="updateTargetId" class="error" style="display: none">
        </div>
        <div class="">
            @Html.HiddenFor(model => model.Id)
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="">
            <div id="buttonZone" class="">
                <button type="submit" class="" id="btnSubmit" name="btnSubmit">
                    Save</button>
                <button type="button" class="" id="btnCancel" name="btnCancel" onclick="CloseAppCommonWindow()">
                    Cancel</button>
            </div>
        </div>
    </div>
}
